@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);
@import url(https://fonts.googleapis.com/css?family=Tangerine);

input {
	display: none;
}

.card {
width: 350px;
height: 500px;

border: 1px solid #eee;

position: absolute;
left: 50%;
top: calc(50% - 250px);
box-shadow: 5px 5px 15px 0 #ddd;
}

.pg1 {
transform-origin: 0% 50%;
z-index: 40;
background-image: url("https://assets.stickpng.com/thumbs/580b585b2edbce24c47b26dd.png");
background-color: #fff;
}

.pg1 .h, .pg1 .bd {
		background: linear-gradient(
			-45deg, 
			rgba(15, 59, 95, .6) 25%, 
			rgba(15, 59, 95, 1) 25%, 
			rgba(15, 59, 95, 1) 50%, 
			rgba(15, 59, 95, .6) 50%, 
			rgba(15, 59, 95, .6) 75%, 
			rgba(15, 59, 95, 1) 75%, 
			rgba(15, 59, 95, 1)
		) 0 0/30px 80px;
		color:transparent;
		-webkit-background-clip: text;
		background-clip: text;
		
		font-family: 'Tangerine', cursive;
		font-weight: bold;
		text-align: right;		
		
		padding-top: 20px;
		padding-right: 20px;
	}
	.pg1 .h {
		font-size: 130px;
	}
	.pg1 .bd {		
		font-size: 105px;
	}
	.pg1 .click {
		position: absolute;
		left: 0;
		bottom: 30px;
		right: 0;		
		
		text-align: center;
		font-size: 30px;
		font-family: 'Tangerine', cursive;
		color: #444;
	}

	.pg2 {
	z-index: 30;
	background: #fff;
	transform-origin: 0% 50%;
}
	.pg2 .content {
		height: calc(100% - 44px);
		transform: rotateY(180deg);
	}
		.pg2 .content .birthday {
			position: absolute;
			left: 55%;
			top: 30%;
			width: 90%;
			transform: rotate(-30deg) translateX(-50%) translateY(-50%);
			transform-origin: 50% 50%;
		}

	.pg3 {
	z-index: 30;
	background: #fff;
	transform-origin: 0% 50%;
}
	.pg3 .content {
		height: calc(100% - 44px);
		padding-top: 60px;
		padding-left: 60px;
		padding-right: 60px;
		font-family: 'Tangerine', cursive;
		font-size: 30px;
		font-weight: bold;
		color:rgba(15, 59, 95, 0.85);
	}
	#open:checked ~ .pg1 {
	animation: openCardPg1 1s ease forwards;
}
#open:checked ~ .pg2 {
	animation: openCardPg2 1s ease forwards;
}
@keyframes openCardPg1 {
	50% {
		left: 50%;
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-180deg);
	}
}
@keyframes openCardPg2 {
	49% {
		z-index: 30;
	}
	50% {
		left: 50%;
		transform: rotateY(0deg);		
	}
	100% {
		transform: rotateY(-180deg);
		z-index: 50;
	}
}


		

